time {
  color: var(--nc-ac-tx);
	font-size: 0.8em;
}

h1 a {
  font-weight: normal;
  color: var(--nc-ac-tx);
	text-decoration: none;
}

.previous_page.disabled {
	display: none;
}
.next_page.disabled {
	display: none;
}

.next_page, .previous_page, .btn-pill {
  color: var(--nc-ac-tx);
  border: 1px solid var(--nc-ac-border);
  padding: 4px 15px;
  border-radius: 15px;
  text-decoration: none;
}

.btn-pill {
  text-align: center;
}

.article-more-button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  text-align: center;
  padding: 1.5em;
  z-index: 0;

  span {
    font-size: 0.85em;
  }
}

article {
  border: 1px solid var(--nc-bg-3);
  padding: 1.5em;
  padding-bottom: 5em;
  border-radius: 4px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0) 0px 0px 0px 0px, rgba(0, 0, 0, 0.05) 0px 1px 2px 0px;
}

.read-more-link {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-indent: -9999px;
  z-index: 1;
}

action-text-attachment figcaption {
  display: none;
}

action-text-attachment .attachment {
  padding: 0 !important;
  max-width: 100% !important;
}
